<section class="banner">
    <div class="bbag" style="background: url(/public/front_assets/images/kb-banner.jpg);">
        <div class="banner-text">
            <h6>K.B International</h6>
            <h1>Connecting you with global opportunities </h1>
        </div>
    </div>      
</section>