<section class="chairman">
    <div class="container">
        <div class="sec-head">
            <h5><span>Chairman’s Message</span></h5>
        </div>

        <div class="ch-bdy">
            <div class="row">
                <div class="col-md-8">
                    <div class="chb-text">
                        <h4>Tej Maya Limbu</h4>
                        <span>Chairman</span>

                        <blockquote>
                            It has been always great task to persuade people to their right placement of job at appropriate post and place. 
                        </blockquote>

                        <div class="wht-par">
                            <p>We are committed ourselves to shared set of values that are binding on our relation with clients.
                                We do is based on our corporate values and ethics: courage, ethics, achievement, respect, responsibility, 
                                integrity and transparency. They determine our business relationship and of course how we cooperate 
                                within the company and these value enable us to create a trustful environment in which
                                business corporates and candidates can thrive their trust over us. 
                            </p>

                            <p>
                                Our agency always focused of ethical recruitment and responsible business alliance with our valued 
                                clients and customers. Our agency looks forwards working with esteemed organizations, business 
                                corporates and persons.
                            </p>
                        </div>
                        

                    </div>
                </div>

                <div class="col-md-4">
                    <div class="chb-img">
                        <img src="/public/front_assets/images/Tej_Maya_Limbu(Chairman).png" alt="">
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
