<section class="clients">
    <div class="container">
        <div class="sec-head">
            <h5><span>Valued Clients</span></h5>
        </div>

        <div class="client-wrap">
            <div class="client-sing">
                <img src="/assets/images/c2.png" alt="">
            </div>

            <div class="client-sing">
                <img src="/assets/images/c3.png" alt="">
            </div>

            <div class="client-sing">
                <img src="/assets/images/c4.png" alt="">
            </div>
            <div class="client-sing">
                <img src="/assets/images/c5.png" alt="">
            </div>
            <div class="client-sing">
                <img src="/assets/images/c6.png" alt="">
            </div>

            <div class="client-sing">
                <img src="/assets/images/c7.png" alt="">
            </div>

            <div class="client-sing">
                <img src="/assets/images/c8.png" alt="">
            </div>
            <div class="client-sing">
                <img src="/assets/images/c9.png" alt="">
            </div>
            <div class="client-sing">
                <img src="/assets/images/c10.png" alt="">
            </div>
            <div class="client-sing">
                <img src="/assets/images/c11.png" alt="">
            </div>
            <div class="client-sing">
                <img src="/assets/images/c12.png" alt="">
            </div>

            <div class="client-sing">
                <img src="/assets/images/c1.png" alt="">
            </div>

        </div>
    </div>
</section>