<section class="commitment">
    <div class="container">
        <div class="sec-head">
            <h5><span>We are Committed To</span></h5>
        </div>

        <div class="com-body">
            <div class="row">
                <div class="col-md-4 col-6">
                    <div class="com-sing">
                        <div class="coms-img">
                            <img src="/assets/images/commit2.png" alt="">
                            <h1>01</h1>
                        </div>

                        <div class="comit-text">
                            <h5>Quality Service</h5>
                            <p>Quality Service based on recruitment business 
                                of the foreign workers as per requirement of
                                our clients and business associates.
                            </p>
                        </div>

                    </div>
                </div>

                <div class="col-md-4 col-6">
                    <div class="com-sing">
                        <div class="coms-img">
                            <img src="/assets/images/commit1.png" alt="">
                            <h1>02</h1>

                        </div>

                        <div class="comit-text">
                            <h5>Right Person in the Right Job</h5>
                            <p>Hiring the right person, is like cultivating 
                                the best customer service experience in 
                                the market.
                            </p>
                        </div>

                    </div>
                </div>

                <div class="col-md-4 col-6">
                    <div class="com-sing">
                        <div class="coms-img">
                            <img src="/assets/images/commit3.png" alt="">
                            <h1>03</h1>
                        </div>

                        <div class="comit-text">
                            <h5>Committed in Serving</h5>
                            <p>Committed in serving as mediator between 
                                employees & candidates for faster hiring, higher 
                                quality candidates and specialist knowledge.
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</section>