<section class="jobs " >
    
    <div class="sec-head">
        <h5><span>Job Categories</span> </h5>
    </div>

    <div class="categ" style="background: url(/public/front_assets/images/job.jpg);" >
        <ul>
            <li>

                <div class="lis-wrap">

                    <h5 class="hv-dis">Construction <span>Sector</span></h5>
                
                    <div class="jhov-dis">
                        <img src="/public/front_assets/images/icons/construnction.svg" alt="">
                        <h5>Construction Sector</h5>
                        <a href="job-categories.html">Read More</a>
                    </div> 

                </div>

            </li>
            
            
            <li>
                <div class="lis-wrap">

                    <h5 class="hv-dis">Manufacturing <span>Sector</span></h5>
                
                    <div class="jhov-dis">
                        <img src="/public/front_assets/images/icons/manufacturing.svg" alt="">
                        <h5>Manufacturing Sector</h5>
                        <a href="job-categories.html">Read More</a>

                    </div> 

                </div>

                
            </li>


            <li>
                
                
                <div class="lis-wrap">

                    <h5 class="hv-dis"> HOSPITALITY  <span>Sector</span></h5>
                
                    <div class="jhov-dis">
                        <img src="/public/front_assets/images/icons/cooking.svg" alt="">
                        <h5>HOSPITALITY  Sector</h5>
                        <a href="job-categories.html">Read More</a>

                    </div> 

                </div>

            </li>
            <li>
                
                <div class="lis-wrap">

                    <h5 class="hv-dis">Administration <span>Sector</span></h5>
                
                    <div class="jhov-dis">
                        <img src="/public/front_assets/images/icons/office.svg" alt="">
                        <h5>Administration Sector</h5>
                        <a href="job-categories.html">Read More</a>

                    </div> 

                </div>

            </li>
            <li>
                <div class="lis-wrap">

                    <h5 class="hv-dis">Sales <span>Sector</span></h5>
                
                    <div class="jhov-dis">
                        <img src="/public/front_assets/images/icons/sales.svg" alt="">
                        <h5>Sales Sector</h5>
                        <a href="job-categories.html">Read More </a>

                    </div> 

                </div>
            
            </li>

            <li>
            
                <div class="lis-wrap">

                    <h5 class="hv-dis">Health Services <span>Sector</span></h5>
                
                    <div class="jhov-dis">
                        <img src="/public/front_assets/images/icons/service.svg" alt="">
                        <h5>Health Service Sector</h5>
                        <a href="job-categories.html">Read More</a>

                    </div> 

                </div>

            </li>

            <li>
                <div class="lis-wrap">

                    <h5 class="hv-dis">Driving & <span>Security</span> <span>Sector</span></h5>
                
                    <div class="jhov-dis">
                        <img src="/public/front_assets/images/icons/driving.svg" alt="">
                        <h5>Driving & Security Sector</h5>
                        <a href="job-categories.html">Read More</a>

                    </div> 

                </div>
                
            </li>


            <li>
                <div class="lis-wrap">

                    <h5 class="hv-dis">Agriculture <span>Sector</span></h5>
                
                    <div class="jhov-dis">
                        <img src="/public/front_assets/images/icons/agriculutre.svg" alt="">
                        <h5>Agriculture Sector</h5>
                        <a href="job-categories.html"> Read More</a>

                    </div> 

                </div>

            </li>

            <li>
                <div class="lis-wrap">

                    <h5 class="hv-dis">Information <span>Technology</span></h5>
                
                    <div class="jhov-dis">
                        <img src="/public/front_assets/images/icons/technical.svg" alt="">
                        <h5>Technical Sector</h5>
                        <a href="job-categories.html">Read More</a>

                    </div> 

                </div>
            </li>
        </ul>
    </div>


</section>