<section class="docs">
    <div class="container">
        <div class="sec-head">
            <h5><span>Legal Documents</span></h5>
        </div>

        <div class="docs-slider owl-carousel">
            <div class="item " >
                <a href="/assets/images/documents/company_registar.jpg" data-lightbox="legal-docs">
                    <img src="/assets/images/documents/company_registar_thumb.jpg" alt="">
                    <img src="/assets/images/modal.svg" alt="" class="md-btn">
                </a>
                <h5>Company Registaration</h5>
            </div>

            <div class="item " >
                <a href=" /assets/images/documents/PAN_certificate.jpg" data-lightbox="legal-docs">
                    <img src="/assets/images/documents/PAN_certificate_thumb.jpg" alt="">
                    <img src="/assets/images/modal.svg" alt="" class="md-btn">
                </a>
                <h5>PAN Certificate</h5>
            </div>

            <div class="item " >
                <a href="/assets/images/documents/liscense.jpg" data-lightbox="legal-docs">
                    <img src="/assets/images/documents/liscense_thumb.jpg" alt="">
                    <img src="/assets/images/modal.svg" alt="" class="md-btn">
                </a>
                
                <h5>Liscense</h5>
            </div>

            <div class="item " >
                <a href="/assets/images/documents/employer_registration_certificate.jpg" data-lightbox="legal-docs">
                    <img src="/assets/images/documents/employer_registration_certificate_thumb.jpg" alt="">
                    <img src="/assets/images/modal.svg" alt="" class="md-btn">
                </a>
                
                <h5>Employer Registration Certificate</h5>
            </div>

            <div class="item " >
                <a href="/assets/images/documents/membership_certificate.jpg" data-lightbox="legal-docs">
                    <img src="/assets/images/documents/membership_certificate_thumb.jpg" alt="">
                    <img src="/assets/images/modal.svg" alt="" class="md-btn">
                </a>
                
                <h5>NAFEA Membership</h5>
            </div>

        </div>
    </div>
</section>