<%- include('header'); -%>
<section class="banner">
    <div class="inner-banner" style="background: url(/assets/images/about-banner.jpg);" >
        <div class="container">
            <div class="breadcrumbs">
                <h5>K.B International</h5>
                <h4>About Us</h4>
            </div>
        </div>
    </div>
</section>



<section class="about">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="abt-head">
                    <h6>About</h6>
                    <h2>K.B. INTERNATIONAL EMPLOYMENT PVT. LTD.</h2>
                </div>
            </div>

            <div class="col-md-6">
                <div class="abt-text">
                    <p>K.B. International Employment Pvt. Ltd. is one of the relievable and responsible manpower supply
                         agency for foreign employment migration. Established in 2007 with the limited source has grown 
                         up as one of the leading recruiting agency with core value of ethical and fair recruitment. 
                         It has sensitized organization about labor justice and labor rights
                    </p>
                </div>
            </div>
        </div>

        <div class="intro-about ">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <img src="/assets/images/about2.jpg" alt="" >
                </div>
    
                <div class="col-md-6">
                    <p>K.B. International Employment Pvt. Ltd. legally registered with the license number 814/065/066 in the government of
                         Nepal under Ministry of Labor Employment and Social Security. It also registered at Office of the Company Register and 
                         having membership in Nepal Foreign Employment Agencies Association (NAFEA). The company is functioning as accordance of
                          legal provisions by the department of foreign employment. It has dedicated team of professionals with the foremost
                           management to serve its valued clients. The company is connecting employer and Nepalese job seekers globally. 
                           We are supplying semi-skilled to high professional manpower according to the demand by the employers.
                    </p>

                </div>
            </div>
        </div>

    </div>
</section>


<section class="chairman">
    <div class="container">
        <div class="sec-head">
            <h5><span>Chairman’s Message</span></h5>
        </div>

        <div class="ch-bdy">
            <div class="row">
                <div class="col-md-8">
                    <div class="chb-text">
                        <h4>Tej Maya Limbu</h4>
                        <span>Chairman</span>

                        <blockquote>
                            It has been always great task to persuade people to their right placement of job at appropriate post and place. 
                        </blockquote>

                        <div class="wht-par">
                            <p>
                                K.B. International Employment (P) Ltd. is a client and customer service oriented
                                manpower recruiting agency from Nepal. We have many happy employers and
                                employees in our service. We believe in fair and ethical recruitment with the
                                concern of labor right and justice.

                            </p>

                            <p>
                                Nepal has great history of “Gorkha Regiment” which is considered as first foreign
                                employment migration for Nepal. Since the start of gorkha regiment Nepalese
                                workers have set the great bench mark in human resource to all receiving
                                countries. Nepalese workers are hardworking, dedicated, loyal, discipline and
                                honest, they are skillful and professionals. We are always proud to our brothers
                                and sister who are making huge contribution to our country’s economy.
                            </p>
                        </div>
                        

                    </div>
                </div>

                <div class="col-md-4">
                    <div class="chb-img">
                        <img src="/assets/images/Tej_Maya_Limbu(Chairman).png" alt="">
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="team">
    <div class="container">
        <div class="sec-head">
            <h5><span>Board of Directors</span></h5>
        </div>

        <div class="row">
            
            <div class="col-md-12">
                <div class="row justify-content-center">
                    <div class="col-md-4">
                        <div class="team-sing">
                            <div class="teams-img"><img src="/assets/images/team_chairman.jpg" alt=""></div>
                            <div class="teams-text">
                                <p>Chairman</p>
                            <h4>Ms. Tej Maya Limbu</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            

            <div class="col-md-4">
                <div class="team-sing">
                    <div class="teams-img">
                        <img src="/assets/images/team_md.jpg" alt="">
                    </div>
                    <div class="teams-text">
                        <p>Managing Director</p>
                        <h4>Mr. Bashudev Dahal</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="team-sing">
                    <div class="teams-img"><img src="/assets/images/team_ad.jpg" alt=""></div>
                    <div class="teams-text">
                        <p>Administrative Director </p>
                        <h4>Ms. Sanjina Sherpa</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="team-sing">
                    <div class="teams-img"><img src="/assets/images/team_markingd.JPG" alt=""></div>
                    <div class="teams-text">
                        <p>Marketing Director</p>
                        <h4>Sanju Limbu (Sandesh)</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include('footer'); -%>