<%- include('header'); -%>
<section class="banner">
    <div class="inner-banner" style="background: url(/assets/images/contact-banner.jpg);" >
        <div class="container">
            <div class="breadcrumbs">
                <h5>K.B International</h5>
                <h4> Contact Us</h4>
            </div>
        </div>
    </div>
</section>


<section class="contact">
    <div class="container">
        <div class="sec-head">
            <h5><span>Get in touch with us</span></h5>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="co-inf">
                    <i class="fas fa-phone-alt"></i>
                    <h6>PHONE</h6>
                    <a href="tel:+977-1-4112758">+977-1-4112758</a>
                    <a href="tel:+977-1-4112759">+977-1-4112759</a>
                </div>
            </div>

            <div class="col-md-4">
                <div class="co-inf">
                    <i class="far fa-envelope"></i>
                    <h6>Email</h6>
                    <a href="mailto:info@kbintlnepal.com">info@kbintlnepal.com</a>
                    <a href="mailto:infokbintl@gmail.com">infokbintl@gmail.com</a>
                    
                </div>
            </div>

            <div class="col-md-4">
                <div class="co-inf">
                    <i class="fas fa-map-marker-alt"></i>
                    <h6>Address</h6>
                    <p>G.P.O. Box: <span>5561</span> Airport,
                                
                        <label> Kathmandu, Nepal</label> 
                     </p>
                </div>
            </div>

        </div>

        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2970.501564868108!2d85.34090711906016!3d27.70055955506977!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb19810d7e5451%3A0xdb5e0be341cf11bd!2sK.B.%20International%20Employment%20Pvt.Ltd.!5e0!3m2!1sen!2snp!4v1609144157361!5m2!1sen!2snp"
              height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>

    </div>
</section>

<%- include('footer'); -%>