<section class="banner">
    <div class="inner-banner" style="background: url(/public/front_assets/images/about2.jpg);" >
        <div class="container">
            <div class="breadcrumbs">
                <h5>K.B International</h5>
                <h4> Job Categories</h4>
            </div>
        </div>
    </div>
</section>



<section class="about">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="abt-head">
                    <h6>Job Categories</h6>
                    <h2>K.B. INTERNATIONAL EMPLOYMENT PVT. LTD.</h2>
                </div>
            </div>

            <div class="col-md-6">
                <div class="abt-text">
                    <p>K.B. International Employment Pvt. Ltd. is one of the relievable and responsible manpower supply
                         agency for foreign employment migration. Established in 2007 with the limited source has grown 
                         up as one of the leading recruiting agency with core value of ethical and fair recruitment. 
                         It has sensitized organization about labor justice and labor rights
                    </p>
                </div>
            </div>
        </div>



    </div>
</section>

<section class="apply-post">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="job-listings">
                    <ul>
                        <li><a id="construnction">CONSTRUCTION SECTOR</a></li>
                        <li><a id="manufacturing">MANUFACTURING SECTOR</a></li>
                        <li><a id="hospitality">HOSPITALITY SECTOR</a></li>
                        <li><a id="administration">ADMINISTRATION SECTOR</a></li>
                        <li><a id="sales">SALES SECTOR</a></li>
                        <li><a id="health">HEALTH SERVICE SECTOR</a></li>
                        <li><a id="driving">DRIVING & SECURITY SECTOR</a></li>
                        <li><a id="agriculture">AGRICULTURE SECTOR</a></li>
                        <li><a id="it">INFORMATION TECHNOLOGY</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-6">
                <div class="apply-wrapper" style="background: url(/public/front_assets/images/about.jpg);">
                    <div class="form-apply">
                        <h5>Application Form</h5>
                        <p>If you are interested in foreign employment. Fill up our application form  </p>

                        <a href="application-form.html" class="btn-form">Application Form</a>
                   
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="job-lists">
    <div class="container">
        <div class="jl-wrap" id="const-sector">
            <div class="row">
                <div class="col-md-6">
                    <div class="jl-img">
                        <img src="/public/front_assets/images/job_category/construnction.jpg" alt="images/">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="jl-text" >
                        <h4>Construction Sector</h4>
    
                        <ul class="list-big" >
                            <li>Supervisor</li>
                            <li>Scaffolder</li>
                            <li>Quality Of Supervisor</li>
                            <li>Helper</li>
                            <li>Saftey Officer</li>
                            <li>Steel Fixer</li>
                            <li>Time Keeper</li>
                            <li>Electrician</li>
                            <li>Plant/ Road Operator</li>
                            <li>Construction Labour</li>
                            <li>Concrete Pump Operator</li>
                            <li>Plumber / Pipe Sitter</li>
                            <li>Painer - Spray/Roller</li>
                            <li>Construnction Manager</li>
                            <li>Carpenter - Shuttering / Finishing</li>
                            <li>Mason – Title/ Black / Plaster / Marble</li>
                            <li>Engineer- Civil / Electrical/ Mechanical</li>
                            <li>Forman – Civil Electrical / Plumbing Carpenter Masonry</li>
                            <li>Heavy Equipment Operator – Excavator Loader / Dozer / Roller</li>
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        

        <div class="jl-wrap" id="manu-sector">
            <div class="row">
                <div class="col-md-6" >
                    <div class="jl-img">
                        <img src="/public/front_assets/images/job_category/manufacturing.jpg" alt="images/">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="jl-text" >
                        <h4>Manufacturing Sector</h4>
    
                        <ul>
                            <li>Operating Manager</li>
                            <li>Factory Worker</li>
                            <li>Production Operator</li>
                            <li>Industrial Enginner</li>
                            <li>Production Consultant </li>
                            <li>Qulaity Control Officer</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
            

        <div class="jl-wrap" id="hosp-sector">
            <div class="row">
                <div class="col-md-6">
                    <div class="jl-img">
                        <img src="/public/front_assets/images/job_category/food.jpg" alt="images/">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="jl-text">
                        <h4>Hospitality Sector</h4>
    
                        <ul>
                            <li>Chef </li>
                            <li>Cook/ Assistance Cook</li>
                            <li>Barista</li>
                            <li>Waiter /Waitress</li>
                            <li>Room Boy / Laundry Man / House Keeping </li>
                            <li>Cleaner / Steward / Gardner</li>
                            <li>Hotel / Restaurant Manager</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
            

        <div class="jl-wrap" id="admin-sector">
            <div class="row">
                <div class="col-md-6">
                    <div class="jl-img">
                        <img src="/public/front_assets/images/job_category/office.jpg" alt="images/">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="jl-text">
                        <h4>Administration Sector</h4>
    
                        <ul>
                            <li>Office Manager </li>
                            <li>Business support manager</li>
                            <li>Stoker</li>
                            <li>Accountant</li>
                            <li>Assistant Accountant </li>
                            <li>Computer Opertaor</li>
                            <li>Office Boy</li>
                            <li>Receptionist</li>
                            <li>Public relation office</li>
                            <li>HR recruitment manager</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
            

        <div class="jl-wrap" id="sales-sector">
            <div class="row">
                <div class="col-md-6">
                    <div class="jl-img">
                        <img src="/public/front_assets/images/job_category/sales.jpg" alt="images/">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="jl-text">
                        <h4>Sales Sector</h4>
    
                        <ul>
                            <li>Shop Manager </li>
                            <li>Maulceting edution services</li>
                            <li>Sales executive</li>
                            <li>Sales supervisor</li>
                            <li>Cashier/ sales man </li>
                            <li>Helper</li>
                            <li>Marketing consultant</li>
                            <li>Sales director</li>
                            <li>Bid Manager</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <div class="jl-wrap" id="health-sector">
            <div class="row">
                <div class="col-md-6">
                    <div class="jl-img">
                        <img src="/public/front_assets/images/job_category/service.jpg" alt="images/">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="jl-text">
                        <h4>Health Service Sector</h4>
    
                        <ul>
                            <li>Nurse / Doctor</li>
                            <li>Barber / Beautician</li>
                            <li>Care giver / housemaid</li>
                            <li>Fitness Trainer</li>
                            <li>Nutritionist</li>
                            <li>Massage therapist</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="jl-wrap" id="driving-sector">
            <div class="row">
                <div class="col-md-6">
                    <div class="jl-img">
                        <img src="/public/front_assets/images/job_category/security.jpg" alt="images/">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="jl-text">
                        <h4>Driving & Security Sector</h4>
    
                        <ul>
                            <li>Defective Interpreter</li>
                            <li>Security Officer</li>
                            <li>Security Supervisor</li>
                            <li>Security guard</li>
                            <li>Driver light / heavy</li>
                            <li>Forklift driver</li>
                            <li>Taxi/ duty driver</li>
                            <li>Transport manager</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <div class="jl-wrap" id="agri-sector">
            <div class="row">
                <div class="col-md-6">
                    <div class="jl-img">
                        <img src="/public/front_assets/images/job_category/agro.jpg" alt="images/">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="jl-text">
                        <h4>Agriculture Sector</h4>
    
                        <ul>
                            <li>Agriculture technicians</li>
                            <li>Junior technicians (J-T)</li>
                            <li>Junior technician assistant (J.T.A)</li>
                            <li>Corn farm worker</li>
                            <li>Farm worker ( livestock/ fruit / poultry )</li>
                            <li>Farm / nursery manager</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="jl-wrap" id="it-sector">
            <div class="row">
                <div class="col-md-6">
                    <div class="jl-img">
                        <img src="/public/front_assets/images/job_category/technicial.png" alt="images/">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="jl-text">
                        <h4>Information Technology</h4>
    
                        <ul>
                            <li>Software engineer</li>
                            <li>Plan technician</li>
                            <li>Data center manager</li>
                            <li>System consultant</li>
                            <li>Network operator</li>
                            <li>Materials & concrete technician</li>
                            <li>Duct technician garment /tailoring</li>
                            <li>IT director / manager</li>
                            <li>Web designer</li>
                            <li>Software tester</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>