<section class="banner">
    <div class="inner-banner" style="background: url(/public/front_assets/images/legal-banner.jpg);" >
        <div class="container">
            <div class="breadcrumbs">
                <h5>K.B International</h5>
                <h4> Legal Documents</h4>
            </div>
        </div>
    </div>
</section>



<section class="about">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="abt-head">
                    <h6>Legal Documents</h6>
                    <h2>K.B. INTERNATIONAL EMPLOYMENT PVT. LTD.</h2>
                </div>
            </div>

            <div class="col-md-6">
                <div class="abt-text">
                    <p>K.B. International Employment Pvt. Ltd. is one of the relievable and responsible manpower supply
                         agency for foreign employment migration. Established in 2007 with the limited source has grown 
                         up as one of the leading recruiting agency with core value of ethical and fare recruitment. 
                         It has sensitized organization about labor justice and labor rights
                    </p>
                </div>
            </div>
        </div>



    </div>
</section>

<section class="docs-list">   
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="doc-wrap">
                    <a href="/public/front_assets/images/documents/company_registar.jpg" data-lightbox="legal-docs">
                        <img src="/public/front_assets/images/documents/company_registar_thumb.jpg" alt="">
                        <img src="/public/front_assets/images/modal.svg" alt="" class="md-btn">
                    </a>
                    <h5>Company Registaration</h5>
                </div>
            </div>

            <div class="col-md-4">
                <div class="doc-wrap">
                    <a href=" /public/front_assets/images/documents/PAN_certificate.jpg" data-lightbox="legal-docs">
                        <img src="/public/front_assets/images/documents/PAN_certificate_thumb.jpg" alt="">
                        <img src="/public/front_assets/images/modal.svg" alt="" class="md-btn">
                    </a>
                    <h5>PAN Certificate</h5>
                </div>
            </div>

            <div class="col-md-4">
                <div class="doc-wrap">
                    <a href="/public/front_assets/images/documents/liscense.jpg" data-lightbox="legal-docs">
                        <img src="/public/front_assets/images/documents/liscense_thumb.jpg" alt="">
                        <img src="/public/front_assets/images/modal.svg" alt="" class="md-btn">
                    </a>
                    
                    <h5>Liscense</h5>
                </div>
            </div>

            <div class="col-md-4">
                <div class="doc-wrap">
                    <a href="/public/front_assets/images/documents/employer_registration_certificate.jpg" data-lightbox="legal-docs">
                        <img src="/public/front_assets/images/documents/employer_registration_certificate_thumb.jpg" alt="">
                        <img src="/public/front_assets/images/modal.svg" alt="" class="md-btn">
                    </a>
                    
                    <h5>Employer Registration Certificate</h5>
                </div>
            </div>

            <div class="col-md-4">
                <div class="doc-wrap">
                    <a href="/public/front_assets/images/documents/membership_certificate.jpg" data-lightbox="legal-docs">
                        <img src="/public/front_assets/images/documents/membership_certificate_thumb.jpg" alt="">
                        <img src="/public/front_assets/images/modal.svg" alt="" class="md-btn">
                    </a>
                    
                    <h5>NAFEA Membership</h5>
                </div>
            </div>

        </div>
    </div>
</section>